*,
*::after,
*::before{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #000033;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --clr: #28004c;
  --clr-b: #942ff1;
}
.register {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:14px 84px;
}
.register>form{
  width: 100%;
  height: auto;
}
.form_group{
  width: 100%;
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  color: white;
  padding: 12px 12px;
}

.form_group>label{
  width: 100%;
  height: auto;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  color:#484bfb ;
}

label>p{
font-size: 14px;
color:red;
}
label[htmlFor^="term"]>p{
margin-top:414px;
color: rgb(17, 2, 98);

}
.form__error{
width: 100%;
display: flex;
justify-content: flex-start;
align-items: flex-start;
margin-top: 12px;
color: red;
}

.form_group>input{
  width: 100%;
  height: auto;
border: 0px;
outline: none;
background-color: transparent;
border-bottom: 1px solid #08f808;
padding: 8px 4px;
color: white;
}
.form_group>label>input[type^="checkbox"]{
  width: 14px;
  height: 14px;
}


.button {
  width: 100px;
  height: 40px;
  margin: -20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
  border-radius: 5px;
  -webkit-box-reflect: below 10px linear-gradient(transparent, #00000045);
  transition: 0.5s;
  color: #0ef773;
  background: linear-gradient(45deg,#484bfb , #2a028d);
}
.button:hover {
  background: var(--clr);
  box-shadow: 0 0 50px var(--clr-b);
}
.button::after {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  border-left: 2px solid var(--clr-b);
  border-top: 2px solid var(--clr-b);
  top: 0;
  left: 0;
  border-radius: 5px 0 0 0;
  transition: 0.5s;
}
.button::before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  border-right: 2px solid var(--clr-b);
  border-bottom: 2px solid var(--clr-b);
  right: 0;
  bottom: 0;
  border-radius: 0 0 5px 0;
  transition: 0.5s;
}
.button:hover::after, .button:hover::before {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 5px;
}
